.banner {
  display: block;
  background: #273647;

  .content {
    width: 1150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;

    h2 {
      font-size: 40px;
      color: #fff;
      font-weight: 500;
      padding-top: 40px;
      margin-top: 40px;
    }

    p {
      color: #f1f1f1;
      font-size: 16px;
      margin-top: 40px;
      line-height: 25px;
      font-weight: 500;
    }

    a {
      color: #446084;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 16px;
      margin-top: 30px;
      display: block;
      transition: 0.6s;

      &:hover {
        color: #fff;
      }
    }
  }
}

@media screen and (min-device-width: 360px) and (max-device-width: 1249px) {
  .content {
    width: 100% !important;
    padding: 0px 20px;
  }
}
