.feature {
  display: block;
  width: 100%;
  background: #f6f6ed;
  .detail {
    display: flex;
    align-items: flex-start;
    .image {
      width: 50%;
      span {
        display: block;
        width: 100%;
        height: 580px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .file {
        display: flex;
        background: #fff;
        padding: 10px 0px;
        .area {
          border-right: solid 1px #ddd;
          width: 32%;
          flex-direction: column;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 150px;
          h2 {
            font-size: 20px;
            color: #555;
            font-weight: 500;
          }
          h3 {
            color: rgb(119 119 119);
            font-weight: 400;
            font-size: 15px;
            margin-top: 15px;
          }
          &:last-child {
            border: none;
          }
        }
      }
    }
    .data {
      width: 50%;
      background: #037776;
      height: 100%;
      .frame {
        padding-right: 20px;
        padding-left: 20px;
        width: 85%;
        margin: auto;
        height: 750px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
          color: #fff;
          font-size: 65px;
          font-weight: 700;
          letter-spacing: 3px;
        }
        p {
          color: #fff;
          font-weight: 400;
          font-size: 18px;
          margin-top: 25px;
          line-height: 27px;
        }
        a {
          color: #fff;
          font-size: 17px;
          text-transform: uppercase;
          text-decoration: none;
          margin-top: 35px;
          display: inline-block;
          position: relative;
          transition: 0.6s;
          font-weight: 500;
          &::after {
            position: absolute;
            width: 11%;
            content: "";
            height: 2px;
            left: 21px;
            background: #aa8a4b;
            transition: 0.6s;
            bottom: -5px;
          }
          &:hover::after {
            width: 20%;
            left: 0;
            background: #000;
          }
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}

@media screen and (min-device-width: 992px) and (max-device-width: 1249px) {
}

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .detail {
    flex-wrap: wrap;
    .data {
      width: 100% !important;
    }
    .image {
      width: 100% !important;
      span {
        height: 400px !important;
        img {
          height: 100%;
        }
      }
    }
  }
}

@media screen and (min-device-width: 500px) and (max-device-width: 767px) {
  .detail {
    flex-wrap: wrap;
    .data {
      width: 100% !important;
      .frame {
        h2 {
          font-size: 55px !important;
        }
      }
    }
    .image {
      width: 100% !important;
      span {
        height: 400px !important;
        img {
          height: 100%;
        }
      }
    }
  }
}

@media screen and (min-device-width: 360px) and (max-device-width: 499px) {
  .detail {
    flex-wrap: wrap;
    .data {
      width: 100% !important;
      .frame {
        h2 {
          font-size: 38px !important;
        }
      }
    }
    .image {
      width: 100% !important;
    }
    .file {
      flex-wrap: wrap;
      .area {
        width: 100% !important;
        border-bottom: solid 1px #ddd;
      }
    }
  }
}
