.footer {
  background: #102942;
  padding-bottom: 30px;
  .footerTop {
    width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .foot {
      width: 26%;
      padding-top: 20px;
      h2 {
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        position: relative;
        i {
          position: absolute;
          bottom: -20px;
          width: 10%;
          height: 3px;
          background: #ddd;
          left: 0;
        }
      }
      ul {
        display: block;
        list-style: none;
        margin-top: 50px;
        padding: 0;
        li {
          height: 70px;
          line-height: 28px;
          a {
            text-decoration: none;
            font-size: 16px;
            color: #fff;
          }
        }
      }
      .inputBox {
        width: 100%;
        input {
          width: 230px;
          height: 40px;
          padding: 0px 10px;
          background-color: hsla(0, 0%, 100%, 0.2);
          border-color: hsla(0, 0%, 100%, 0.09);
          border-radius: 20px;
          outline: none;
          color: #fff;
          &::placeholder {
            color: #fff;
            font-size: 15px;
          }
        }
        button {
          height: 40px;
          margin-top: 20px;
          width: 100px;
          border-radius: 20px;
          border: solid 1px #fff;
          color: #102942;
          font-weight: 500;
          font-size: 15px;
        }
        p {
          color: #fff;
        }
        span {
          margin-top: 10px;
          display: block;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (min-device-width: 992px) and (max-device-width: 1249px) {
  .footerTop {
    width: 100% !important;
    padding: 0px 20px;
  }
}
@media screen and (min-device-width: 360px) and (max-device-width: 991px) {
  .footerTop {
    width: 100% !important;
    padding: 0px 20px;
    flex-wrap: wrap;
    .foot {
      width: 100% !important;
    }
  }
}
