.overlay {
  width: 700px;
  margin: auto;
  background-image: url(../img/diverse-businesspeople-having-meeting-1400x623.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  position: relative;
  margin-top: 50px;
  &::after {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    content: "";
    z-index: 1;
  }
  .oveerlayform {
    border: dotted 2px #ddd;
    padding: 16px 40px;
    position: relative;
    z-index: 99;
    h2 {
      font-size: 33px;
      color: #fff;
      font-weight: 400;
    }
    .box {
      display: block;
      margin-top: 15px;
      label {
        font-size: 15px;
        color: #fff;
      }
      input {
        width: 350px;
        background-color: hsla(0, 0%, 100%, 0.2);
        border-color: hsla(0, 0%, 100%, 0.09);
        height: 40px;
        outline: none;
        border-radius: 20px;
        padding: 0px 10px;
        color: #fff;
        margin-top: 3px;
        &::placeholder {
          color: #fff;
          font-size: 16px;
        }
      }
      select {
        display: block;
        width: 350px;
        background-color: hsla(0, 0%, 100%, 0.2);
        border-color: hsla(0, 0%, 100%, 0.09);
        height: 40px;
        outline: none;
        border-radius: 20px;
        color: #fff;
        font-size: 16px;
        margin-top: 3px;
        option {
          color: #000;
        }
      }
      span {
        color: #b20000;
      }
    }
    button {
      width: 100px;
      height: 40px;
      border-radius: 20px;
      margin-top: 15px;
      border: none;
    }
  }
}
.cross {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  z-index: 9999;
}
